@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  font-family: "Noto Serif", serif;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'modernofb';
  src: url('/assets/fonts/modernofbcomp-bold.otf'),
}

.font-modernofb {
  font-family: 'modernofb';
}

body {
  background-image: url('/assets/images/webp/body-bg-img.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

/* ====================================== Colors Class ============================================== */
.text-yellow {
  color: #FFD600;
}

.bg-yellow {
  background-color: #FFD600;
}

.text-red {
  color: #FF1300;
}

.text-red-2 {
  color: #FF0000;
}

.text-green {
  color: #00A106;
}

.text-brown {
  color: #70675F;
}

/* ====================================== Hero Class ============================================== */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-30%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 10s linear infinite;
  width: fit-content;
}

.whitespace-nowrap {
  white-space: nowrap;
}

/* ================================= */
.swiper-slide{
  display: flex !important;
  justify-content: center !important;
}

.line::after{
  content: "∨";
  position: absolute;
  bottom: -10px;
  font-size: 20px;
  font-weight: 800;
  left: -5px;
}
