@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  font-family: "Noto Serif", sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-30%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 10s linear infinite;
  width: fit-content;
}

.whitespace-nowrap {
  white-space: nowrap;
}